@font-face {
    font-family: "Oxygen";  /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("../Fonts/Oxygen-Regular.ttf") format('truetype');  /* задаем путь к шрифту (url) и тип шрифта (format) */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oxygen";  /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("../Fonts/Oxygen-Bold.ttf") format('truetype');  /* задаем путь к шрифту (url) и тип шрифта (format) */
    font-style: normal;
    font-weight: Bold;
}

@font-face {
    font-family: "Oxygen";  /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("../Fonts/Oxygen-Light.ttf") format('truetype');  /* задаем путь к шрифту (url) и тип шрифта (format) */
    font-style: normal;
    font-weight: initial;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Oxygen", serif;
    font-weight: normal;
}

header{
    background-color: darkslateblue;
    padding: 2vmin;
    color: lightgray;
}

article.title_h{
    padding-left: 22em;

}

.down_main_h{
    color: gray;
    padding-bottom: 0;
    margin-bottom: 0;
}

.main_h{
    font-size: 56px;
}

.main_nav{

}

ul.ul_main_nav li {
    display: inline;
    padding-left: 2em;

}

ul.ul_main_nav li a{
    color: snow;
    text-decoration: none;
}

ul.ul_main_nav li a:hover{
    color: darkgoldenrod;
}

.ul_main_nav {
    text-align: center;
    list-style-type: none;
    padding-left: 15em;
}

main{
    margin: 2em 15em;

}

aside{
    width: 12em;
    height: 300px;
    float: right;
}

aside article{
    background-color: lightgray;
    border-radius: 5px;

    margin-top: 0.5em;
    padding: 5px;
}

aside article h3{
    color: Blue;
}

aside article form label input{
    padding: 3px;
    margin: 3px;
    width: 10em;
    height: 1.5em;
}

aside article form label button{
    padding: 3px;
    margin: 3px;
    border: 0;
}

aside article h3{
    padding: 5px;
}


.sh{
    width: 670px;
}

.article_for_green_a a{
    color: forestgreen;

}

.article_for_green_a a:hover{
    color: darkgreen;
}



.a_rating{

}
.b_rating{

}


main article section{
    display: inline;
}
main article section img {
    display: inline-block;
    height: 200px;
    border: grey 5px solid;
    margin-right:  0.5em;
    border-radius: 5px;
}

main article{

}

main article h2{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#first_main_article h2{
    color: green;
    word-wrap: break-word;
}

#second_main_article h2{
    color: green;
    word-wrap: break-word;
}


ul.ul_footer_nav li {
    display: inline;
    padding-left: 2em;

}


ul.ul_footer_nav li a{
    color: snow;
    text-decoration: none;
}

ul.ul_footer_nav li a:hover{
    color: darkgoldenrod;
}

.ul_footer_nav {
    text-align: center;
    list-style-type: none;
    padding-bottom: 2em;
}

footer{
    background-color: darkslateblue;
    margin-bottom: 0;
    text-align: center;

}


img.photo_to_article{
    float: left;
    height: 200px;
    border: grey 5px solid;
    margin-right:  0.5em;
    border-radius: 5px;

}

article.article_to_film{
    margin-top: 20px;
}

iframe{
    margin-bottom: 20px;
}